<HTML ng-app="aroundtheworld-app">
  <head>
    <link rel="stylesheet" href="style/main.css" type="text/css"/>
    <link rel="stylesheet" href="style/odometer.css" type="text/css"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:300,100' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="js/odometer.min.js"></script>
    <script src="js/controllers.js"></script>
    <title>Don't Shoot</title>
  </head>
  <body ng-controller="maincontroller">
    <div id="main">
        <div id="hero-wrapper" class="center-h center-v">
            <h2 class="roboto thin">There have been</h2>
            <h1 class="roboto light" id="victims">{{victimCount}}</h1>
            <h2 class="roboto thin">victims of mass shootings since January 1st, 2016</h2>
        </div>
        <div id="form-wrapper" class="center-h">
            <form class="underline">
                <input ng-model="user.Email" placeholder="Your email" id="email" type="email" class="form-field">
                <input ng-model="user.ZIP" placeholder="Your Zip code" id="zip" type="text" class="form-field">
                <input ng-click="submitForm(user)" type="submit" value="Join">
            </form>
        </div>
    </div>
    <div id="content">
        <div class="container">
            <p class="roboto">
                In the wake of all of the tragic mass shootings that have taken place so far in 2016, and of the continuing importance
                we play in the political process, this website intends to make a real change by leveraging your voice
                in the political process. By adding your voice, you'll join a powerful chorus of people who want to
                see gun violence go away for good. Every time there is a new mass shooting in the United States, we'll
                send an email to your congressmen, senators, govenor, and the President of the United States on your behalf.
                It's time to put a stop to this senseless violence.
            </p>
        </div>
        <div id="github"><a class="roboto" target="_blank" href="http://github.com/sdcoffey/gunviolencecounter">Contribute to this project</a></div>
    </div>
  </body>
</HTML>
