body {
    margin: 0;
}

#hero-wrapper {
    height: 100px;
    width: 500px;
    opacity: 0;
    transition-timing-function: ease-out;
    transition: opacity .5s, transform .5s;
    -webkit-transition: opacity .5s, transform .5s;
    transform: translateY(-5px);
}

.slide-down {
    transform: translateY(5px) !important;
    opacity: 1 !important;
}

#hero-wrapper h1,h2 {
    margin: 0;
}

#hero-wrapper h1 {
    font-size: 3em;
}

#hero-wrapper h2 {
    font-size: 1.2em;
}

#form-wrapper {
    position: relative;
    top: 78%;
}

.center-h {
    position: relative;
    margin: auto;
    text-align: center;
}

.center-v {
    top: 40%;
    transform: translateY(-50%);
}

#main {
    height: 93%;
    width: 100%;
    overflow: hidden;
}

#email {
    width: 250px;
}

#zip {
    width: 150px;
}

.form-field {
    font-size: 1em;
    height: 40px;
    outline: none;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
}

.form-field:hover {
    border-bottom: solid 2px #3da9df;
}

#content {
    width: 100%;
    height: auto;
    background-color: dodgerblue;
    padding-bottom: 30px;
}

.container {
    width: 100%;
    height: 500px;
    display: table;
}

.container p {
    color: white;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    padding: 10%;
    font-size: 2em;
    line-height: 2em;
}

.roboto {
    font-family: "Roboto Slab";
}

.helvetica {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.thin {
    font-weight: 100;
}

.light {
    font-weight: 300;
}

#github {
    width: 100%;
    text-align: center;
}

#github a {
    color: whitesmoke;
    width: 100%;
    text-align: center;
}

.button {
    background-color: dodgerblue;
    color: #fff;;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 1em;
    border: none;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
